extends layout 

block content 
  h1 Category: #{category.title} 

  p #{category.description}

  div(style='margin-left:20px;margin-top:20px')
    h4 Items: 
    if category_items.length 
      dl  
        each item in category_items 
          dt 
            a(href=item.url) #{item.title} 
          dd(style='font-size:smaller;max-width:50%;') #{item.description}
    
    else 
      p This category has no Items.

  hr
  p 
    a(href=category.url+'/update') Update Category 
    a(style='margin-left:100px;' href=category.url+'/delete') Delete Category 