extends layout 

block content 

  h1 #{title}: #{item.title}
  p #{item.description} 

  p #[strong Do you really want to DELETE this Item ?]

  form(action="", method="post") 
    div.form-group 
      input#itemid.form-control(type="hidden" name="itemid" value=item.id)
      input.form-control.password-input(type="password", name="password", placeholder="Enter Authentication Password")
      if errMsg 
        p.text-danger #{errMsg}
    button.btn.btn-primary.delete-submit-btn(type='submit') Delete